---
layout: default
title: SRI Blog
---

<article class="page">

  <header class="page-header container">
  <div class="row">
    <div class="column column-66">
      <h1 class="page-title">{{ page.title | escape }}</h1>
    </div>
  </div>
  </header>


  <div class="page-content container">
    <div class="row">
      <div class="column column-66">

      	<ul class="newspost-list">
          {%- for blogpost in site.blogposts reversed -%}
          <li>

            <div class="newspost-meta">{{ blogpost.date | date: "%d.%m.%y" }}</div>

              {{blogpost.tldr}}
              
              {% if blogpost.thumbnail %}
              HAS IMAGE
              <div class="newspost-image">

              {% if blogpost.link %}  
              <a href="{{ blogpost.link }}">
              {% endif %}
                <img src="{{ blogpost.thumbnail | prepend: '/assets/blog/' | relative_url}}"/>
              {% if blogpost.link %}  
              </a>
              {% endif %}
              </div>
              {% endif %}
            
            <!-- <div class="newspost-content">{{ blogpost.content}}</div> -->
          </li>
          {%- endfor -%}
        </ul>

      </div>
    </div>      
  </div>
</article>

