---
layout: default
title: News & Media
permalink: /news/index.html
---



<article class="page">

  <header class="page-header container">
  <div class="row">
    <div class="column column-66">
      <h1 class="page-title">{{ page.title | escape }}</h1>
    </div>
  </div>
  </header>


  <div class="page-content container">
    <div class="row">
      <div class="column column-66">

      	<ul class="post-list">
          {%- for post in site.posts  -%}
          <li>

            <div class="post-meta">{{ post.date | date: "%d.%m.%y" }}</div>
            

              {% if post.image %}
              <div class="post-image">

              {% if post.link %}  
              <a href="{{ post.link }}">
              {% endif %}
                <img src="{{ post.image | prepend: '/assets/media/' | relative_url}}"/>
              {% if post.link %}  
              </a>
              {% endif %}
              </div>
              {% endif %}
            
            <div class="post-content">{{ post.content}}</div>
          </li>
          {%- endfor -%}
        </ul>

      </div>
    </div>      
  </div>
</article>

