---
layout: default
title: People
permalink: /people/index.html
---


<article class="page">

  <header class="page-header container">
  <div class="row">
    <div class="column column-66">
      <h1 class="page-title">{{ page.title | escape }}</h1>
    </div>
  </div>
  </header>


  <div class="page-content container">
    <div class="row">
      <div class="column">

        <div class="grid">
          {% include get-person.html title="Prof. Dr. Martin Vechev" %}
          {% include get-person.html title="Petar Tsankov" %}
          {% include get-person.html title="Gagandeep Singh" %}
          {% include get-person.html title="Pavol Bielik" %}
          {% include get-person.html title="Timon Gehr" %}
          {% include get-person.html title="Rudiger Birkner" %}
          {% include get-person.html title="Matthew Mirman" %}
          {% include get-person.html title="Pesho Ivanov" %}
          {% include get-person.html title="Benjamin Bichsel" %}
          {% include get-person.html title="Samuel Steffen" %}
          {% include get-person.html title="Jingxuan He" %}
          {% include get-person.html title="Maximilian Baader" %}
          {% include get-person.html title="Marc Fischer" %}
          {% include get-person.html title="Mislav Balunovic" %}
          {% include get-person.html title="Dimitar Iliev Dimitrov" %}
        </div>

       <h2>Administration</h2>
        {% include get-person.html title="Fiorella Meyer" %}

        <h2>Current Thesis Students and Interns</h2>
        <table>  
          
    <tr><td><b>Hüseyin Berabi</b> Master student</td></tr>
    <tr><td><b>Luca Beurer-Kellner</b> Master student</td></tr>
    <tr><td><b>Tobias Brodmann</b> Master student</td></tr>
    <tr><td><b>Dimitar I. Dimitrov</b> Master student, Direct doctorand</td></tr>
    <tr><td><b>Rupanshu Ganvir</b> Master student</td></tr>
    <tr><td><b>Johannes Kapfhammer</b> Master student</td></tr>
    <tr><td><b>Tobias Lorenz</b> Master student</td></tr>
    <tr><td><b>Mark Müller</b> 30 Credit project student</td></tr> 
    <tr><td><b>Anouk Paradis</b> Master student</td></tr>
    <tr><td><b>Momchil Peychev</b> Master student, Direct doctorand</td></tr>
    <tr><td><b>Anian Ruoss</b> Intern, Project assistant</td></tr>
    <tr><td><b>Wonryong Ryou</b> Intern, Project assistant</td></tr>
    <tr><td><b>Ioannis Sachinoglou</b> Master student</td></tr>
    <tr><td><b>Aleixo Sanchez</b> Master student</td></tr>
    <tr><td><b>Lukas Schär</b> Master student</td></tr>
    <tr><td><b>Benjamin Schmid</b> Master student</td></tr>
    <tr><td><b>Gishor Sivanrupan</b> Master student</td></tr>
    <tr><td><b>Christian Sprecher</b> Master student</td></tr>
    <tr><td><b>Chengyuan Yao</b> Master student</td></tr>
        
        </table>

        <h2>Past Sabbatical Visitors</h2>
         <ul>
         <li> <a href="http://patricklam.ca">Prof. Dr. Patrick Lam</a> (University of Waterloo, Canada)</li>
         <li> <a href="https://www.cs.rice.edu/~sc40/">Prof. Dr. Swarat Chaudhuri</a> (Rice University, USA)</li>
         </ul>

        <h2>Past PhD students and Post-Docs in the group</h2>
         <ul>
         <li> <a href="{{"/people/dimitar" | relative_url }}">Dimitar K. Dimitrov</a>, now Director of Research at <a href="http://www.pwc.ch/en/about-pwc/locations/zurich.html">PwC</a></li>
         <li> <a href="https://ddana.net.technion.ac.il">Dr. Dana Drachsler-Cohen</a>, now tenure-track assistant professor at Technion, Israel</li>
         <li> <a href="http://misailo.web.engr.illinois.edu/">Dr. Sasa Misailovic</a>, now tenure-track assistant professor at UIUC</li>
         <li> <a href="{{"/people/veselin" | relative_url }}">Veselin Raychev</a>, now CTO at <a href="http://deepcode.ai">DeepCode.ai</a>, a startup on AI for code</li>
         <li> <a href="{{"/people/andrei" | relative_url }}">Andrei Marian Dan</a>, now researcher at <a href="https://new.abb.com/about/technology/corporate-research-centers/corporate-research-center-switzerland">ABB Research Center, Switzerland</a></li>
         </ul>


        <h2>Former Interns</h2>
         <ul>
	       <li> Korbinian Abstreiter</li>
         <li> Gregory Bonaert</li>
         <li> Manuel Breitenstein</li>
         <li> Lavrentios Frobeen</li>
         <li> Kevin De Keyser</li>
         <li> Rupanshu Ganvir</li>
         <li> Mario Gehrsbach</li>
         <li> Inna Grijnevitch</li>
         <li> Pesho Ivanov</li>
         <li> Viktor Ivanov</li>
         <li> Casper Jensen</li>
         <li> Svetoslav Karaivanov</li>
         <li> Jonathan Maurer</li>
         <li> Christoph Müller</li>
         <li> Anton Permenev</li>
         <li> Emilien Pilloud</li>
         <li> Ioannis Sachinoglou</li>
         <li> Philippe Schlattner</li>
         <li> Pirmin Schmid</li>
         <li> Mihaela Stoian</li>
         <li> Yasen Trifonov</li>
         <li> Matus Zilinec</li>

        
        </ul>

          </div>
        </div>
      </div>

    </article>


