---
layout: default
title: People 
permalink: /people/index.html
---


<article class="page">

  <header class="page-header container">
  <div class="row">
    <div class="column column-66">
      <h1 class="page-title">{{ page.title | escape }}</h1>
    </div>
  </div>
  </header>


  <div class="page-content container">
    <div class="row">
      <div class="column">

        <div class="grid">
          {% include get-person.html title="Prof. Dr. Martin Vechev" %}
          {% include get-person.html title="Petar Tsankov" %}
          {% include get-person.html title="Dimitar Dimitrov" %}
          {% include get-person.html title="Gagandeep Singh" %}
          {% include get-person.html title="Pavol Bielik" %}
          {% include get-person.html title="Timon Gehr" %}
          {% include get-person.html title="Rudiger Birkner" %}
          {% include get-person.html title="Matthew Mirman" %}
          {% include get-person.html title="Pesho Ivanov" %}
          {% include get-person.html title="Benjamin Bichsel" %}
          {% include get-person.html title="Samuel Steffen" %}
          {% include get-person.html title="Jingxuan He" %}
          {% include get-person.html title="Maximilian Baader" %}
          {% include get-person.html title="Marc Fischer" %} 
          {% include get-person.html title="Mislav Balunovic" %} 
        </div>

       <h2>Administration</h2>
        {% include get-person.html title="Fiorella Meyer" %}

        <h2>Current Thesis/Semester Students </h2>
        <table>
		<tr><td><b>Andrei Ursache</b> Master student</td></tr>
		<tr><td><b>Philippe Schlattner</b> Master student</td></tr>
		<tr><td><b>Petar Ivanov</b> Master student</td></tr>
		<tr><td><b>Luc Haller</b> Master student</td></tr>
		<tr><td><b>Christiane Goltz</b> Master student</td></tr>
		<tr><td><b>Jonas Felber</b> Master student</td></tr>

          <tr><td><b>Rupanshu Ganvir</b> Semester student</td></tr>
	  <tr><td><b>Joel Oskarsson</b> Semester student</td></tr>
	  <tr><td><b>Panayiotis Panayiotou</b> Semester student</td></tr>
	  <tr><td><b>Benjamin Schmid</b> Semester student</td></tr>
	  <tr><td><b>Andrius Buinovskij </b> Semester student</td></tr>
	  <tr><td><b>Wonryong Ryou </b> Semester student</td></tr>
	  <tr><td><b>Anian Ruoss</b> Semester student</td></tr>
        </table>

        <h2>Past Sabbatical Visitors</h2>
         <ul>
         <li> <a href="http://patricklam.ca">Prof. Dr. Patrick Lam</a> (University of Waterloo, Canada)</li>
         <li> <a href="https://www.cs.rice.edu/~sc40/">Prof. Dr. Swarat Chaudhuri</a> (Rice University, USA)</li>
         </ul>

        <h2>Past PhD students and Post-Docs in the group</h2>
         <ul>
         <li> <a href="https://www.sri.inf.ethz.ch/people/dana">Dr. Dana Drachsler-Cohen</a>, now tenure-track assistant professor at Technion, Israel</li>
         <li> <a href="http://misailo.web.engr.illinois.edu/">Dr. Sasa Misailovic</a>, now tenure-track assistant professor at UIUC</li>
         <li> <a href="{{"/people/veselin" | relative_url }}">Veselin Raychev</a>, now CTO at <a href="http://deepcode.ai">DeepCode.ai</a>, a startup on AI for code</li>
         <li> <a href="{{"/people/andrei" | relative_url }}">Andrei Marian Dan</a>, now researcher at <a href="https://new.abb.com/about/technology/corporate-research-centers/corporate-research-center-switzerland">ABB Research Center, Switzerland</a></li>
         </ul>

        <h2>Past B.Sc./M.Sc. Thesis Students</h2>
        <table  width="60%">
<tr><th>Name</th><th>Type</th><th>Position after thesis</th></tr>		

<tr><td>Steven Stalder</td><td>B.Sc.</td><td>M.Sc. Student at ETH</td></tr>		
<tr><td>Mario Gersbach</td><td>M.Sc.</td><td>Researcher @ SRI</td></tr>		
<tr><td>Frobeen Lavrentios</td><td>M.Sc.</td><td>Researcher @ SRI</td></tr>
<tr><td>Larissa Laich</td><td>M.Sc.</td><td></td></tr>			
<tr><td>Frederic Vogel</td><td>M.Sc.</td><td></td></tr>
<tr><td>Mislav Balunovic</td><td>M.Sc.</td><td>PhD student @ SRI</td></tr>		
<tr><td>Carlo Saladin</td><td>M.Sc.</td><td></td></tr>
<tr><td>Tobias Verhulst</td><td>M.Sc.</td><td></td></tr>		
<tr><td>Viviane Onus</td><td>B.Sc.</td><td>M.Sc. Student at ETH</td></tr>
<tr><td>Marc Fischer</td><td>M.Sc.</td><td><span><img style="heigth: 18px; width: 18px;" src="/assets/images/award.png" title="CC BY 4.0 by @fontawesome - https://fontawesom        e.com"/></span> <font color="#d74141">ETH Medal for outstanding Master's thesis</font>, PhD student @ SRI</td></tr>			
<tr><td>Nils Weller</td><td>M.Sc.</td><td>Software engineer at <a href="https://www.ti8m.com/">ti&m</a></td></tr>
<tr><td>Adrian Hoffmann</td><td>B.Sc.</td><td>M.Sc. Student at ETH</td></tr>		
<tr><td>Christopher Signer</td><td>M.Sc.</td><td></td></tr>
<tr><td>Viktor Chibotaru</td><td>M.Sc.</td><td>Software engineer at <a href="https://deepcode.ai">DeepCode</a></td></tr>		
<tr><td>Jan Eberhardt</td><td>M.Sc.</td><td>Software engineer at <a href="https://deepcode.ai">DeepCode</a></td></tr>
<tr><td>Samuel Schmid</td><td>M.Sc.</td><td>Software engineer at <a href="https://deepcode.ai">DeepCode</a></td></tr>		
<tr><td>Anton Permenev</td><td>M.Sc.</td><td>Blockchain security engineer at <a href="https://chainsecurity.com">ChainSecurity</a></td></tr>
<tr><td>Polena Lilyanova</td><td>M.Sc.</td><td>Software engineer at <a href="https://www.blackrock.com">BlackRock</a></td></tr>		
<tr><td>Nodar Ambroladze</td><td>M.Sc.</td><td>Software engineer at <a href="https://www.google.com">Google</a></td></tr>
<tr><td>Samuel Steffen</td><td>M.Sc.</td><td><span><img style="heigth: 18px; width: 18px;" src="/assets/images/award.png" title="CC BY 4.0 by @fontawesome - https://fontawesome.com"/></span> <font color="#d74141">Willi Studer Prize for best Master's degree in computer science</font>, PhD student @ SRI</td></tr> 		
<tr><td>Alexey Kustov</td><td>M.Sc.</td><td></td></tr>
<tr><td>Johannes Kapfhammer</td><td>B.Sc.</td><td></td></tr> 	
<tr><td>Tobias Kaiser</td><td>M.Sc.</td><td>Blockchain security engineer at  <a href="https://chainsecurity.com">ChainSecurity</a></td></tr>
<tr><td>Aleksander Matusiak</td><td>M.Sc.</td><td>Software engineer at <a href="https://www.google.com">Google</a></td></tr> 	
<tr><td>Jingxuan He</td><td>M.Sc.</td><td>PhD student @ SRI</td></tr>
<tr><td>Nick Baumann</td><td>B.Sc.</td><td>M.Sc. student at ETH</td></tr> 			
<tr><td>Cyril Steimer</td><td>M.Sc.</td><td>Software engineer at <a href="https://www.ergon.ch/de">Ergon Informati</a></td></tr>
<tr><td>Cedric Baumann</td><td>M.Sc.</td><td></td></tr> 		
<tr><td>Alexandra Maximova</td><td>M.Sc.</td><td>Software engineer at <a href="https://www.google.com">Google</a></td></tr>
<tr><td>Prabhakaran Santhanam</td><td>M.Sc.</td><td>Researcher at D-MTEC, ETH Zurich</td></tr> 	
<tr><td>Matteo Panzacchi</td><td>M.Sc.</td><td>Software engineer at <a href="https://www.facebook.com">Facebook</a></td></tr>
<tr><td>Benjamin Bichsel</td><td>M.Sc.</td><td><span><img style="heigth: 18px; width: 18px;" src="/assets/images/award.png" title="CC BY 4.0 by @fontawesome - https://fontawesome.com"/></span> <font color="#d74141">Willi Studer Prize for best Master's degree in computer science</font>, PhD student @ SRI</td></tr> 		
<tr><td>Pavol Bielik</td><td>M.Sc.</td><td>PhD student @ SRI</td></tr>
<tr><td>Ylli Muhadri</td><td>M.Sc.</td><td>M.Sc. student at ETH</td></tr> 
<tr><td>Timon Gehr</td><td>M.Sc.</td><td><span><img style="heigth: 18px; width: 18px;" src="/assets/images/award.png" title="CC BY 4.0 by @fontawesome - https://fontawesom    e.com"/></span> <font color="#d74141">ETH Medal for outstanding Master thesis</font>, PhD student @ SRI</td></tr>
<tr><td>Florian Buenzli</td><td>M.Sc.</td><td>Senior software engineer at <a href="https://unique.software/">Unique software</a></td></tr> 		
<tr><td>Attila Printz</td><td>B.Sc.</td><td></td></tr>
<tr><td>Rumen Paletov</td><td>M.Sc.</td><td>Software engineer at <a href="https://www.twitter.com">Twitter</a></td></tr> 		
<tr><td>Christian Fehlmann</td><td>B.Sc.</td><td></td></tr>
<tr><td>Pavle Djordjevic</td><td>M.Sc.</td><td>Software engineer at <a href="https://www.bloomberg.com">Bloomberg</a></td></tr> 		
<tr><td>Jeremie Miserez</td><td>M.Sc.</td><td>Software engineer at <a href="https://labs.oracle.com">Oracle labs</a></td></tr>
<tr><td>Quentin Hibon</td><td>M.Sc.</td><td>Blockchain security engineer at <a href="https://chainsecurity.com">ChainSecurity</a></td></tr> 
<tr><td>Jibin Ou</td><td>M.Sc.</td>System Engineer at Volvo Cars<td></td></tr>
<tr><td>Noa Philippe Javet</td><td>M.Sc.</td><td></td></tr> 	
<tr><td>Pascal Roos</td><td>B.Sc.</td><td>Software Engineer at flowable</td></tr>
<tr><td>Benjamin Mularczyk</td><td>M.Sc.</td><td>Software engineer at <a href="https://deepcode.ai">DeepCode</a></td></tr> 
<tr><td>Christine Zeller</td><td>M.Sc.</td><td></td></tr>
<tr><td>Pascal Wiesmann</td><td>B.Sc.</td><td></td></tr> 
<tr><td>Gagandeep Singh</td><td>M.Sc.</td><td><span><img style="heigth: 18px; width: 18px;" src="/assets/images/award.png" title="CC BY 4.0 by @fontawesome - https://fontawesom    e.com"/></span> <font color="#d74141">ETH Medal for best Master thesise</font>, PhD student @ SRI</td>, </tr>

        </table>

        <h2>Former Interns</h2>
         <ul>
	 <li> Inna Grijnevitch</li>
         <li> Pirmin Schmid</li>
         <li> Mihaela Stoian</li>
         <li> Kevin De Keyser</li>
         <li> Rupanshu Ganvir</li>
         <li> Viktor Ivanov</li>
         <li> Yasen Trifonov</li>
         <li> Pesho Ivanov</li>
         <li> Svetoslav Karaivanov</li>
         <li> Casper Jensen</li>
         </ul>

          </div>
        </div>
      </div>

    </article>


