---
layout: default
title: Research
permalink: /research/index.html
---


<article class="page">

  <header class="page-header container">
  <div class="row">
    <div class="column column-66">
      <h1 class="page-title">{{ page.title | escape }}</h1>
    </div>
  </div>
  </header>

  <div class="page-content container">
    <div class="row">
      <div class="column">

        <div class="grid grid-center">
	        {% include get-project.html ref="mathllm" %}
	        {% include get-project.html ref="codellm" %}
	        {% include get-project.html ref="watermarks" %}
	        {% include get-project.html ref="llmsecpriv" %}
	        {% include get-project.html ref="cclm" %}
	        {% include get-project.html ref="llmevals" %}
	        {% include get-project.html ref="regulations" %}
	        {% include get-project.html ref="federated" %}
	        {% include get-project.html ref="safeai" %} 
          {% include get-project.html ref="quantum" %}
	</div>
      </div>
    </div>
  </div>

  <h2>Past Projects</h2>
  <div class="page-content container">
    <div class="row">
      <div class="column">
        <div class="grid grid-center">
	        {% include get-project.html ref="plml" img="none" %}
	        {% include get-project.html ref="diff-privacy" img="none" %}
	        {% include get-project.html ref="probabilistic-programming" img="none" %}
	        {% include get-project.html ref="comp-bio" img="none" %}
	        {% include get-project.html ref="blockchain-security" img="none" %}
          {% include get-project.html ref="numerical-analysis" img="none" %}
          {% include get-project.html ref="programmable-networks" img="none" %}
          {% include get-project.html ref="core" img="none" %}
          {% include get-project.html ref="fender" img="none" %}
      </div>
      </div>
    </div>
  </div>

</article>

