---
layout: default
title: Teaching
permalink: /teaching/index.html
---


<article class="page">

  <header class="page-header container">
  <div class="row">
    <div class="column column-66">
      <h1 class="page-title">{{ page.title | escape }}</h1>
    </div>
  </div>
  </header>


  <div class="page-content container">
    <div class="row">
      <div class="column column-66">

        
        <h2>Future Courses</h2>
        {% include get-course.html ref="rtai2022"   output="horizontal" %}
        {% include get-course.html ref="ses2022-fall"   output="horizontal" %}

        <h2>Current Courses</h2>
        {% include get-course.html ref="rse2022"   output="horizontal" %}
		    {% include get-course.html ref="pass2022"   output="horizontal" %}
        {% include get-course.html ref="ses2022"   output="horizontal" %}
        {% include get-course.html ref="bigcode22"   output="horizontal" %}


 
 	<h2>Past Courses</h2>
   {% include get-course.html ref="reliableai2021"   output="horizontal" %}
   {% include get-course.html ref="ses2021-fall"   output="horizontal" %}
		{% include get-course.html ref="rse2021"   output="horizontal" %}
		{% include get-course.html ref="pass2021"   output="horizontal" %}
		{% include get-course.html ref="bigcode21"   output="horizontal" %}
		{% include get-course.html ref="ses2021"   output="horizontal" %}
		{% include get-course.html ref="riai2020"   output="horizontal" %}
	    {% include get-course.html ref="ses2020"   output="horizontal" %}
        {% include get-course.html ref="bigcode20-fall"   output="horizontal" %}
        {% include get-course.html ref="pass2020"   output="horizontal" %}
        {% include get-course.html ref="bigcode20"   output="horizontal" %}
        <div class="horizontal-card">
          <div class="card-content">
            <a class="card-title" href="http://spcl.inf.ethz.ch/Teaching/2020-pp/">Parallel Programming</a>
            <div class="card-subtitle">Undergraduate course on parallel programming, co-taught with Prof. Torsten Hoefler.</div>
            <div class="card-extra">Spring 2020</div>
          </div>
        </div>
        {% include get-course.html ref="riai2019"   output="horizontal" %}
        {% include get-course.html ref="bsec2019-fall"   output="horizontal" %}
        {% include get-course.html ref="bigcode19-fall"  output="horizontal" %}
        {% include get-course.html ref="pass2019"   output="horizontal" %}
        {% include get-course.html ref="bsec2019"  output="horizontal" %}
        {% include get-course.html ref="bigcode19"  output="horizontal" %}
        {% include get-course.html ref="pp2019"  output="horizontal" %}
        {% include get-course.html ref="rse2019" output="horizontal" %}
        {% include get-course.html ref="riai2018"  output="horizontal" %}
        {% include get-course.html ref="bigcode18" output="horizontal" %}
        {% include get-course.html ref="bsec2018"  output="horizontal" %}
        {% include get-course.html ref="ses2018"  output="horizontal" %}
        {% include get-course.html ref="bsec2018-ss"  output="horizontal" %}
        {% include get-course.html ref="bigcode18-ss" output="horizontal" %}
        {% include get-course.html ref="pass2018"  output="horizontal" %}
        {% include get-course.html ref="sae2018"  output="horizontal" %}
        {% include get-course.html ref="pp2018"  output="horizontal" %}
        {% include get-course.html ref="pa2017"  output="horizontal" %}
        {% include get-course.html ref="pp2017"  output="horizontal" %}
        {% include get-course.html ref="riai2017"  output="horizontal" %}
        {% include get-course.html ref="mlis2016"  output="horizontal" %}
        {% include get-course.html ref="rse-fall2016"  output="horizontal" %}
        {% include get-course.html ref="pa2016"  output="horizontal" %}
        {% include get-course.html ref="rse-spr2016"  output="horizontal" %}
        {% include get-course.html ref="pa2015"  output="horizontal" %}
        {% include get-course.html ref="ps2014"  output="horizontal" %}
        {% include get-course.html ref="pa2013"  output="horizontal" %}
        {% include get-course.html ref="pl2013"  output="horizontal" %}
        {% include get-course.html ref="ses2013"  output="horizontal" %}
        {% include get-course.html ref="atsr2012"  output="horizontal" %}
        {% include get-course.html ref="rse2012"  output="horizontal" %}

      </div>
    </div>
  </div>

</article>
