---
layout: default
title: Teaching
permalink: /teaching/index.html
---


<article class="page">

  <header class="page-header container">
  <div class="row">
    <div class="column column-66">
      <h1 class="page-title">{{ page.title | escape }}</h1>
    </div>
  </div>
  </header>


  <div class="page-content container">
    <div class="row">
      <div class="column column-66">

        <h2>Current Courses</h2>
    	   {% include get-course.html ref="pass2019"   output="horizontal" %}
    	   {% include get-course.html ref="bsec2019"  output="horizontal" %}
    	   {% include get-course.html ref="bigcode19"  output="horizontal" %}
         {% include get-course.html ref="pp2019"  output="horizontal" %}
    	   {% include get-course.html ref="rse2019" output="horizontal" %}


	<h2>Past Courses</h2>

  {% include get-course.html ref="riai2018"  output="horizontal" %}
          {% include get-course.html ref="bigcode18" output="horizontal" %}
          {% include get-course.html ref="bsec2018"  output="horizontal" %}
          {% include get-course.html ref="ses2018"  output="horizontal" %}
          {% include get-course.html ref="bsec2018-ss"  output="horizontal" %}
          {% include get-course.html ref="bigcode18-ss" output="horizontal" %}
          {% include get-course.html ref="pass2018"  output="horizontal" %}
          {% include get-course.html ref="sae2018"  output="horizontal" %}
          {% include get-course.html ref="pp2018"  output="horizontal" %}
          {% include get-course.html ref="pa2017"  output="horizontal" %}
          {% include get-course.html ref="pp2017"  output="horizontal" %}
          {% include get-course.html ref="riai2017"  output="horizontal" %}
          {% include get-course.html ref="mlis2016"  output="horizontal" %}
          {% include get-course.html ref="rse-fall2016"  output="horizontal" %}
          {% include get-course.html ref="pa2016"  output="horizontal" %}
          {% include get-course.html ref="rse-spr2016"  output="horizontal" %}
          {% include get-course.html ref="pa2015"  output="horizontal" %}
          {% include get-course.html ref="ps2014"  output="horizontal" %}
          {% include get-course.html ref="pa2013"  output="horizontal" %}
          {% include get-course.html ref="pl2013"  output="horizontal" %}
          {% include get-course.html ref="ses2013"  output="horizontal" %}
          {% include get-course.html ref="atsr2012"  output="horizontal" %}
          {% include get-course.html ref="rse2012"  output="horizontal" %}

      </div>
    </div>
  </div>

</article>
