---
title: Blockchain Security
ref: blockchain-security
image: chain.png
description: "In this project we build novel solutions for securing blockchain projects, including automated audit platforms for certifying the correctness of smart contracts"
---

<h2>Startups</h2>

<div class="grid">
  {% include card.html
    title="ChainSecurity"
    output="vertical"
    url="https://chainsecurity.com/"
    image="/assets/systems/csec-logo.png"
    description="ChainSecurity brings advanced security tools and solutions for blockchains"
  %}
</div>

<h2>Systems</h2>

<div class="grid">
  {% include card.html
    title="Securify"
    output="vertical"
    url="https://securify.ch"
    image="/assets/systems/securify-logo.png"
    description="Securify is a static security scanner for Ethereum smart contracts"
  %}
</div>


<h2>Publications</h2>

{% include get-publications.html filter="project" key="blockchain-security" %}


<h2>Talks</h2>

{% include card.html
  title="Securify: Practical Security Analysis of Smart Contracts"
  url="https://suri.epfl.ch/"
  output="horizontal"
  description="The Summer Research Institute (SuRI), EPFL 2018"
  talk="https://www.youtube.com/watch?list=PL95IbaKDuVrLeLaRmDof5o3_FE75tdcZP&v=YNbj_JElzuc"
  slides="https://files.sri.inf.ethz.ch/website/slides/SURI18.pptx"
%}
{% include card.html
  title="The Future of Smart Contract Audits"
  url="http://d10e.biz/davos-2017/"
  output="horizontal"
  description="d10e: The leading conference on decentralization, Davos 2017"
  slides="https://files.sri.inf.ethz.ch/website/slides/d10e.pdf"
  talk="https://www.youtube.com/watch?v=FO2E8x1yptg"
%}
{% include card.html
  title="Declarative Static Analysis of Smart Contracts"
  url="https://edcon.io/"
  output="horizontal"
  description="EDCON: Community Ethereum developer conference, Toronto 2018"
  talk="https://www.youtube.com/watch?v=PJLlXffRBGI&feature=youtu.be"
  slides="https://files.sri.inf.ethz.ch/website/slides/edcon18.pdf"
%}
{% include card.html
  title="Securify: Not Your Grandma’s Smart Contract Verification"
  url="https://ethereumfoundation.org/devcon3/"
  output="horizontal"
  description="DevCon3: Ethereum foundation developers conference, Cancun 2017"
  talk="https://www.youtube.com/watch?v=ewOEEpJs-pg"
  slides="https://files.sri.inf.ethz.ch/website/slides/devcon3.pdf"
%}
{% include card.html
  title="Automated Formal Verification of Smart Contracts"
  url="https://www.meetup.com/Ethereum-Zurich/events/242558725/"
  output="horizontal"
  description="Ethereum Meetup Zurich, 2017"
  slides="https://files.sri.inf.ethz.ch/website/slides/ethereum-meetup.pdf"
%}
