---
title: LLMs for Code
ref: codellm
image: svg/codellm.svg
description: We study large language models as tools for coding and software development. We focus on the issues of constrained decoding and secure code generation, approaching the latter from the perspectives of evaluation, adversarial attacks that elicit insecure code generations, and developing methods to improve this capability. 
---

<h2>Startups and Blog Posts</h2>

<div class="grid">
  {% include card.html
    title="LogicStar"
    output="vertical"
    url="https://logicstar.ai/"
    image="/assets/images/logicstar-logo.png"
    description="LogicStar develops autonomous AI for software engineering."
  %}
  {% include card.html
    title=""
    output="vertical"
    %}
  {% include card.html
    title="Coding Agents Are \"Fixing\" Correct Code"
    output="vertical"
    url="/blog/fixedcode"
    image="/assets/blog/thumbnails/fixedcode.png"
    description="Coding agents fail to recognize already-correct code."
  %}

</div>

<h2>Publications</h2>

{% include get-publications.html filter="project" key="codellm" %}