---
title: Computational Biology
ref: comp-bio
image: bio.png    
description: "In this project we develop accurate computational approaches to biological problems."
---

<h2>Tools</h2>
<div class="grid">
  {% include card.html
    title="AStarix: Fast and Optimal Sequence-to-Graph Alignment"
    output="vertical"
    url="https://github.com/eth-sri/astarix"
    image="/assets/systems/astarix.png"
    description="AStarix is an optimal sequence-to-graph aligner based on A* shortest path algorithm"
  %}
</div>

<h2>Publications</h2>

{% include get-publications.html filter="project" key="computational-biology" %}
