---
title: Federated Learning Privacy
ref: federated
image: federated.png
description: "We study attacks on federated learning systems that aim to compromise user privacy, violating the key promise of this paradigm."

---

<h2>Blog Posts</h2>


<div class="grid">
  {% include card.html
    title="The Role of Red Teaming in PETs"
    output="horizontal"
    url="/blog/fedcomp"
    image="/assets/blog/thumbnails/fedcomp.png"
    description="Our team won the Red Teaming category of the U.S. PETs Prize Challenge, a competition centered around federated learning."
  %}
</div>



<h2>Publications</h2>

{% include get-publications.html filter="project" key="federated" %}