---
title: Language Model Security and Privacy
ref: llmsecpriv
image: llmsecpriv.png
description: "We study the security and privacy implications of deploying large language models (LLMs) in real-world applications, evaluating their ability to compromise user privacy and developing algorithms that exploit novel attack vectors stemming from common LLM deployment practices."

---

<h2>Startups</h2>

<div class="grid">
  {% include card.html
    title="Invariant Labs"
    output="vertical"
    url="https://invariantlabs.ai/"
    image="/assets/images/invariant-logo.png"
    description="Invariant Labs makes AI agents secure, reliable and robust."
  %}

</div>

<h2>Publications</h2>

{% include get-publications.html filter="project" key="llmsecpriv" %}