---
title: LLMs for Mathematical Reasoning 
ref: mathllm
image: mathllm.png
description: "We study the reasoning capabilities of large language models (LLMs) in the context of mathematical problem solving. We develop and maintain several datasets and benchmarks aimed at more effectively evaluating this capability in state-of-the-art models."

---

<h2>Blog Posts (on <a href=https://matharena.ai/">matharena.ai</a>)</h2>

<div class="grid">
  {% include card.html
    title="MathArena Apex: Unconquered Final-Answer Problems"
    output="vertical"
    url="https://matharena.ai/apex/"
    image="/assets/media/matharena_apex.png"
  %}
  {% include card.html
    title="With Flying Colors: Language Models Ace IMC 2025"
    output="vertical"
    url="https://matharena.ai/imc/"
    image="/assets/media/matharena_imc.png"
  %}
  {% include card.html
    title="Not Even Bronze: Evaluating LLMs on IMO 2025"
    output="vertical"
    url="https://matharena.ai/imo/"
    image="/assets/media/matharena_imo.png"
  %}
</div>

<h2>Publications</h2>

{% include get-publications.html filter="project" key="mathllm" %}