---
title: Fast Numerical Abstract Domains
ref: numerical-analysis
image: fast.png    
description: "In this project we develop optimized implementations of popular numerical abstract domains such as Polyhedra, Octagon and Zonotopess for static analysis of programs and neural networks. We design improved algorithms, online decomposition as well as performance optimizations from linear algebra such as vectorization, locality of reference, scalar replacement etc. to significantly improve the performance of numerical domains."
---

<h2>Systems</h2>
<div class="grid">
  {% include card.html
    title="ELINA: ETH Library for Numerical Analysis"
    output="vertical"
    url="http://elina.ethz.ch/"
    image="/assets/systems/elina-logo.png"
    description="ELINA contains optimized implementations of popular numerical abstract domains such as Polyhedra, Octagon and Zones"
  %}
</div>

<h2>Publications</h2>

{% include get-publications.html filter="project" key="numerical-analysis" %}
