---
title: Quantum Computing 
ref: quantum
image: quantum.png
description: "In this project we develop new techniques to develop, analyze, and
reason about quantum programs."


---

<h2>Programming language: <a href="http://silq.ethz.ch/">Silq</a></h2>
<div class="grid">
  {% include card.html
    title="Silq"
    output="vertical"
    url="http://silq.ethz.ch/"
    image="/assets/systems/Silq_logo.png"
    description="A new high-level programming language for quantum computing with a strong static type system."
  %}
</div>

<h2>Publications</h2>

{% include get-publications.html filter="project" key="quantum" %}
