---
title: "SafeAI: Robust and Fair Machine Learning with Guarantees"
ref: safeai
image: safeai.png
description: "In this project we explore new methods and systems which can reason about robustness and fairness of machine learning models. Concretely, we have introduced new approaches and tools for certifying and training robust and fair deep neural networks."


---

<h2>Project: <a href="http://safeai.ethz.ch/">safeai.ethz.ch</a></h2>
<div class="grid">
  {% include card.html
    title="Safe Artificial Intelligence"
    output="vertical"
    url="http://safeai.ethz.ch/"
    image="/assets/systems/safeai-logo.png"
    description="Building safe and robust artifical intelligence systems."
  %}
</div>

<h2>Publications</h2>

{% include get-publications.html filter="project" key="safeai" %}


<h2>Talks</h2>

{% include card.html
  title="Safe and Robust Deep Learning"
  url="https://ece.uwaterloo.ca/~MLSecurity/index.html"
  output="horizontal"
  description="Waterloo ML + Security + Verification Workshop"
  slides="https://files.sri.inf.ethz.ch/website/slides/Waterloo19-SafeAI.pdf"
%}

{% include card.html
  title="Safe and Robust Deep Learning"
  url="https://blogs.ed.ac.uk/rai-nr/"
  output="horizontal"
  description="University of Edinburgh, Robust Artificial Intelligence for Neurorobotics 2019"
  slides="https://files.sri.inf.ethz.ch/website/slides/Edinburgh19-SafeAI.pdf"
%}

{% include card.html
  title="AI2: AI Safety and Robustness with Abstract Interpretation"
  url="https://www.floc2018.org/summit-on-machine-learning/"
  output="horizontal"
  description="Machine Learning meets Formal Methods, FLOC 2018"
  slides="https://files.sri.inf.ethz.ch/website/slides/FLOC18-AI2.pdf"
%}
