---
title: Watermarking in Generative AI
ref: watermarks
image: watermarks.png
description: "We study generative AI watermarking, identifying novel vulnerabilities in existing systems and developing new systems for ensuring provenance of generative model outputs, weights, and training data."

---
    
<h2>Blog Posts</h2>


<div class="grid">
  {% include card.html
    title="Probing Google DeepMind's SynthID-Text Watermark"
    output="horizontal"
    url="/blog/probingsynthid"
    image="/assets/blog/thumbnails/probingsynthid.svg"
    description="We apply the techniques from our recent work to investigate how SynthID-Text, the first large-scale deployment of an LLM watermarking scheme, fares in several adversarial scenarios."
  %}
</div>



<h2>Publications</h2>

{% include get-publications.html filter="project" key="watermarks" %}