<footer class="site-footer">

  <div class="footer-content">&copy; {{ site.time | date: "%Y" }} <a href="https://ethz.ch">ETH Zürich</a> | <a href="https://www.inf.ethz.ch">Department of Computer Science</a> | {{ site.title | escape }} | 
    <a href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
      <svg class="social-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
      </svg> 
      <span class="username">@{{ site.twitter_username| escape }}</span>
    </a>
  </div> 

    {% comment %}
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>
  {% endcomment %}

</footer>
