{% assign filtered_publications = site.publications %}

{% if include.filter == 'person' %}
  {% capture query %} item.authors contains '{{ include.key }}'{% endcapture %}
  {% assign filtered_publications = site.publications | where_exp:"item", query %}
{% endif %}

{% if include.filter == 'project' %}
  {% capture query %} item.projects contains '{{ include.key }}'{% endcapture %}
  {% assign filtered_publications = site.publications | where_exp:"item", query %}
{% endif %}

{% if include.filter == 'id' %}
  {% capture query %} item.ref contains '{{ include.key }}'{% endcapture %}
  {% assign filtered_publications = site.publications | where_exp:"item", query %}
{% endif %}



{% assign sorted_publications = filtered_publications | group_by:"year" | sort:"name" | reverse %}

{% for year in sorted_publications %}

  {% assign sorted_publications_by_year = year.items | sort: "month" | reverse %}
  {% if sorted_publications_by_year.size  > 0 %}

  <h2 id="{{year.name}}">{{year.name}}</h2>
  
  {% for publication in sorted_publications_by_year %}



  <div class="horizontal-card">

    <div class="card-content">
      <a class="card-title" href="{{ publication.url | relative_url}}">{{ publication.title }}</a>
      <div class="card-subtitle">{{ publication.authors }}</div>
      <div class="card-extra">{{ publication.venue }} {{ publication.year }} 
        {% if publication.awards %}
        <span style="margin-left: 4pt;"><img style="height: 18px; width: 18px;" src="/assets/images/award.png" title="CC BY 4.0 by @fontawesome - https://fontawesome.com"></span> <font color="#d74141">{{ publication.awards }}</font>
        {% endif %}
      </div>
    </div>

    <div class="card-links">

        {% if publication.slides %}
          {% assign slides_link = publication.slides %}

          {% unless slides_link contains 'http' %}
            {% assign slides_link = '/slides/' | append: slides_link %}
          {% endunless %}

            <a href="{{ slides_link | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/icon-slides.svg' | relative_url }}"><br />Slides</a>
        {% endif %}


        {% if publication.talk %}
            <a href="{{ publication.talk | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/icon-video.svg' | relative_url }}"><br />Talk</a>
        {% endif %}

        {% if publication.paper %}
          {% assign pub_link = publication.paper %}

          {% unless pub_link contains 'http' %}
            {% assign pub_link = 'papers/' | append: pub_link %}
          {% endunless %}

            <a href="{{ pub_link | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/icon-pdf.svg' | relative_url }}"><br />Paper</a>
        {% endif %}


    </div>

  </div>

  {% endfor %}
  {% endif %}
{% endfor %}
