{% assign persons = include.persons | split: ", " %}
{% for person in persons %}
  {% capture query %} item.title contains '{{ person | remove: 'Dr.' | remove: 'Prof.' | remove: '*' | remove: '<sup>†</sup>' | escape | strip }}'{% endcapture %}
  {% assign found_person = site.people | where_exp:"item", query | first %}
  {% if found_person != nil %}
    <a href="{{ found_person.url | relative_url}}">{{person}}</a>{% unless forloop.last %},&nbsp;{% endunless %}
  {% else %}
    {% capture query %} item.name contains '{{ person | remove: 'Dr.' | remove: 'Prof.' | remove: '*' | remove: '<sup>†</sup>' | escape | strip }}'{% endcapture %}
    {% assign found_person = site.data.externals | where_exp:"item", query | first %}
    {% if found_person != nil %}
      <a href="{{ found_person.url}}">{{person}}</a>{% unless forloop.last %},&nbsp;{% endunless %}
    {% else %}
      {{person}}{% unless forloop.last %},&nbsp;{% endunless %}
    {% endif %}
  {% endif %}
{% endfor %}