{% assign filtered_publications = site.publications %}

{% if include.filter == 'person' %}
  {% capture query %} item.authors contains '{{ include.key }}'{% endcapture %}
  {% assign filtered_publications = site.publications | where_exp:"item", query %}
{% endif %}

{% if include.filter == 'project' %}
  {% capture query %} item.projects contains '{{ include.key }}'{% endcapture %}
  {% assign filtered_publications = site.publications | where_exp:"item", query %}
{% endif %}

{% if include.filter == 'id' %}
  {% capture query %} item.ref contains '{{ include.key }}'{% endcapture %}
  {% assign filtered_publications = site.publications | where_exp:"item", query %}
{% endif %}



{% assign sorted_publications = filtered_publications | group_by:"year" | sort:"name" | reverse %}

{% for year in sorted_publications %}

  {% assign sorted_publications_by_year = year.items | sort: "month" | reverse %}
  {% if sorted_publications_by_year.size  > 0 %}

  <h2 id="{{year.name}}">{{year.name}}</h2>
  
  {% for publication in sorted_publications_by_year %}

    <!-- must assign as we can't directly capture these in the include-->
    {% assign pub-title = publication.title %}
    {% assign pub-url = publication.url %}
    {% assign pub-description = publication.authors %}
    {% capture pub-extra %}
      {{ publication.venue }} 
      {{ publication.year }} 
      {% if publication.authors contains "*" %}<span style="font-weight: normal;">* Equal contribution</span>{% endif %}
      {% if publication.authors contains "†" %}<span style="font-weight: normal;">† Co-leadership</span>{% endif %}
      {% if publication.awards %} <span style="margin-left: 4pt;"><img style="height: 18px; width: 18px;" src="/assets/images/award.png" title="CC BY 4.0 by @fontawesome - https://fontawesome.com"></span> <font color="#d74141">{{ publication.awards }}</font> {% endif %}
    {% endcapture %}
    {% assign pub-ref = publication.ref %}

    {% include card.html
      output="horizontal"
      title=pub-title
      url=pub-url
      description=pub-description
      extra=pub-extra
      card-links-style=""
      pub-ref=pub-ref
    %}

  {% endfor %}
  
  {% endif %}
{% endfor %}
