{% assign project_refs = include.ref | split: "," %}

{% for project_ref in project_refs %}
  {% assign project_ref_trimmed = project_ref | strip %}
  {% assign project = site.projects | where:"ref", project_ref_trimmed | first %}
  
  {% if project %}
    {% if include.output == "plain" %}
      <a href="{{ project.url | relative_url}}">{{project.title}}</a>{% unless forloop.last %}, {% endunless %}
    {% else %}
    <div class="card card-vertical research-project">
      {% if project.image and include.img != "none" %} 
        <div class="card-img">
          
            <a href="{{ project.url | relative_url}}">
              <img src="{{ project.image | prepend: '/assets/projects/' | relative_url}}"/>
            </a>
          
        </div>
      {% endif %}

      <div class="card-content">
        <div class="card-title">{{ project.title }}</div>
        <a class="card-site button" href="{{ project.url | relative_url}}">View Project</a>
      </div>

    </div>
    {% endif %}
  {% endif %}
{% endfor %}
