<header class="site-header" role="banner">

      <a href="https://ethz.ch/en.html" class="eth-logo" target="_blank">
        <img src="{{ '/assets/images/eth-logo.svg' | relative_url }}">
      </a>

      <nav id="site-nav">
        <a class="page-link {% if page.url contains 'people' %}active{% endif %}" href="{{ '/people/' | relative_url }}">People</a>
        <a class="page-link {% if page.url contains 'thesis' %}active{% endif %}" href="{{ '/thesis-topics/' | relative_url }}">MSc Thesis @ SRI</a>
        <a class="page-link {% if page.url contains 'research' %}active{% endif %}" href="{{ '/research/' | relative_url }}">Research</a>
        <a class="page-link {% if page.url contains 'publications' %}active{% endif %}" href="{{ '/publications/' | relative_url }}">Publications</a>
        <a class="page-link {% if page.url contains 'spinoffs' %}active{% endif %}" href="{{ '/spinoffs' | relative_url }}">Spin-offs</a>
        <a class="page-link {% if page.url contains 'teaching' %}active{% endif %}" href="{{ '/teaching/' | relative_url }}">Teaching</a>
        <a class="page-link {% if page.url contains 'hiring' %}active{% endif %}" href="{{ '/hiring/' | relative_url }}">Hiring</a>
        <a class="page-link {% if page.url contains 'contact' %}active{% endif %}" href="{{ '/contact/' | relative_url }}">Contact</a>
      </nav>

      <a href="{{ "/" | relative_url }}" class="site-logo"><img src="{{ '/assets/images/sri-logo.svg' | relative_url }}" alt="{{ site.title | escape }}"></a>

    {% include text-expand.html %}

</header>
