<!--
  To be used in a horizontal card

  Links shown:
    blogpost, poster, slides, talk, paper, code, download
-->

{% if include.blogpost %}
  {% assign blogpost_link = include.blogpost %}

  {% unless blogpost_link contains 'http' %}
  {% assign blogpost_link = '/blog/' | append: blogpost_link %}
  {% endunless %}
  <a href="{{ blogpost_link | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/icon-blogpost.svg' | relative_url }}"><br />Blog</a>
{% endif %}

{% if include.poster %}
  {% assign poster_link = include.poster %}

  {% unless poster_link contains 'http' %}
      {% assign poster_link = '/posters/' | append: poster_link %}
  {% endunless %}
  <a href="{{ poster_link | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/icon-poster.svg' | relative_url }}"><br />Poster</a>
{% endif %}

{% if include.slides %}
  {% assign slides_link = include.slides %}

  {% unless slides_link contains 'http' %}
      {% assign slides_link = '/slides/' | append: slides_link %}
  {% endunless %}
  <a href="{{ slides_link | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/icon-slides.svg' | relative_url }}"><br />Slides</a>
{% endif %}

{% if include.talk %}                
  <a href="{{ include.talk | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/icon-video.svg' | relative_url }}"><br />Talk</a>
{% endif %}

{% if include.website %}                
  <a href="{{ include.website | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/website.svg' | relative_url }}"><br />Website</a>
{% endif %}

{% if include.paper %}
  {% assign pub_link = include.paper %}

  {% unless pub_link contains 'http' %}
      {% assign pub_link = '/papers/' | append: pub_link %}
  {% endunless %}

  <a href="{{ pub_link | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/icon-pdf.svg' | relative_url }}"><br />Paper</a>
{% endif %}

{% if include.code %}
  <a href="{{ include.code | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/icon-github.svg' | relative_url }}"><br />Code</a>
{% endif %}

{% if include.download %}

  {% assign download_link = include.download %}

  {% unless download_link contains 'http' %}
      {% assign download_link = '/downloads/' | append: download_link %}
  {% endunless %}
  <a href="{{ download_link | relative_url }}" target="_blank"><img class="svg-icon" src="{{ '/assets/icons/icon-download.svg' | relative_url }}"><br />Download</a>
{% endif %}