.tldr::before
	content: "TL;DR:"
	font-weight: bold

.tldr
	font-style: italic
	border-width: 1px
	border-style: solid 
	padding: 2% 5%
	text-align: justify

.caption
	padding: 0 5%

.img-leftwrap
	margin: 5px 15px 5px 5px
	float: left
