/**
 * Project Card 
 */

.grid
	display: flex
	flex-wrap: wrap
	align-items: flex-start

.grid-center
	justify-content: center

.grid-3
	.card
		&.card-vertical
			max-width: 33%


.card
	padding: $spacing-unit*2 0
	flex-grow: 1
	flex-basis: 100%
	max-width: 33%
	display: inline-flex

	.card-title
		font-size: 14px
		font-weight: bold
		margin-bottom: $spacing-unit/6


	.card-content
		margin: 0 $spacing-unit/2
		display: block
		width: 66%
	.card-img
		display: block
		width: 33%
		max-width: 150px



	&.card-vertical
		max-width: 25%
		padding: $spacing-unit 0 $spacing-unit/3 0
		display: block
		text-align: center
		.card-title
			margin-top: $spacing-unit/3
		.card-img
			margin: 0 auto
			height: 100%
			width: 80%
			max-width: none
		.card-content
			margin: 0 auto
			width: 80%
			max-width: none
		.card-site 
			
		&.research-project 
			.card-img
				width: 50%
			.card-title
				min-height: 40px
			



.horizontal-card
	width: 100%
	padding: $spacing-unit 0
	border-top: 1px solid $color-border
	display: flex

	.card-content
		flex: 1

	.card-title
		display: block
		font-weight: bold
		margin-bottom: $spacing-unit/3

	.card-subtitle
		margin-bottom: $spacing-unit/2
		font-size: 12px

	.card-extra
		font-weight: bold
		font-size: 12px


.card-links
	display: inline-block
	text-align: center
	a
		display: inline-block
		color: $text-color
		font-size: 12px
		margin-left: $spacing-unit/2

	img
		margin-bottom: $spacing-unit/2



@include media-query($mobile-break)
	.grid
		display: block

	.grid-3
		.card
			&.card-vertical
				max-width: 100%

	.card
		max-width: 100%
		width: 100%
		padding: $spacing-unit 0

		&.card-vertical
			max-width: 100%
			.card-img
				height: auto

