/**
 * Site header
 */
.site-header
  padding-top: 80px
  min-height: 50px
  width: $full-width
  margin: 0 auto
  display: flex
  position: relative


.site-logo img, .eth-logo img
  width: 136px
  height: 24px


.site-nav
  flex: 1
  text-transform: uppercase
  margin: 8px $spacing-unit*2

  text-align: right

  .page-link
    color: $text-color
    line-height: $base-line-height
    margin-left: $spacing-unit
    transition: color $animation-time

    &:hover, &.active
      color: $color-blue


@include media-query($full-width-break)
  .site-header
    width: $mobile

    .site-nav
      margin: 8px $spacing-unit/2
      .page-link
        margin-left: $spacing-unit/2

@include media-query($mobile-break)
  .site-header
    width: 100%
    display: block
    padding-top: $spacing-unit

    .site-logo
      margin-left: $spacing-unit

    .site-nav
      text-align: left
      margin-left: $spacing-unit*1.5
      margin-top: $spacing-unit/2
      .page-link
        display: block


    .eth-logo
      position: absolute
      top: $spacing-unit
      right: $spacing-unit

