/**
 * Home
 */

.landing
  padding-top: 0px

  .landing-header
    padding-bottom: 0%
    padding-top: 40px
    width: 100%
    overflow: hidden
    position: relative

    .landing-banner
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-size: contain !important
      z-index: 0

    .landing-header-content
      width: $full-width
      margin: 0 auto
      padding: 0
      position: relative
      box-sizing: border-box
      z-index: 1


    .landing-about
      background: rgba($color-blue, 0.15)
      text-align: justify
      padding: $spacing-unit*0.75 $spacing-unit*1.5
      line-height: 1.7em
      font-size: 1.4em
      color: darken($text-color, 15%)


  .landing-content
    box-sizing: border-box
    width: $full-width
    margin: 0 auto


@include media-query($mobile-break)
  .landing
    .landing-header
      overflow: visible
      padding-bottom: 0

      .landing-header-content
        width: 100%
        padding: $spacing-unit

      .landing-about
        padding: $spacing-unit/2 $spacing-unit*1.5

      .landing-banner
        width: 100%
        position: relative
        top: auto
        left: auto
        padding-bottom: 65%
        background-position: 0 0 !important

    .landing-content
      width: 100%
      padding: $spacing-unit
      padding-top: 0
