/**
 * Media Newsposts
 */

.media-item
  margin: 20px 30px
  width: 75%
  display: flex
  flex-direction: row

.media-thumbnail
  height: 100%

.media-thumbnail-blog
  @extend .media-thumbnail
  flex: 1 1 25%

.media-thumbnail-news
  @extend .media-thumbnail
  flex: 1 1 50%

.media-excerpt
  vertical-align: middle
  font-size: 1.1em
  line-height: 1.6em
  padding: 0 0 2% 5%

.media-excerpt-blog
  @extend .media-excerpt
  flex: 1 1 75%

.media-excerpt-news
  @extend .media-excerpt
  flex: 1 1 50%

.div-see-all
  margin: auto
  width: 50%

.btn-see-all
  display: block

@media (max-width: $mobile-break)
  .media-item 
    display: block 
    margin: 10px 30px
    border-bottom: 0.2rem solid #e5e5e5 

  .media-excerpt
    padding: 2%
    text-align: justify 

  .media-thumbnail-blog
    img
      width: 50%
      display: block 
      margin: auto
  
  .media-row
    align-items: center

.pubs-on-home-row
  margin-left: 0
  width: 100%

  .horizontal-card
    border-top: none