/**
 * Media Newsposts
 */

.media-item
  padding: 20px 30px
  width: 100%
  display: flex
  flex-direction: row

.media-thumbnail
  height: 100%

.media-thumbnail-blog
  @extend .media-thumbnail
  flex: 1 1 25%

.media-thumbnail-news
  @extend .media-thumbnail
  flex: 1 1 50%

.media-excerpt
  vertical-align: middle
  font-size: 1.1em
  line-height: 1.6em
  padding: 0 0 2% 5%

.media-excerpt-blog
  @extend .media-excerpt
  flex: 1 1 75%

.media-excerpt-news
  @extend .media-excerpt
  flex: 1 1 50%

.div-see-all
  margin: auto
  width: 50%

.btn-see-all
  display: block


.headers-separate
  display: none

.headers-joint
  display: flex

@media (min-width: $mobile-break)
  .headers-separate
    display: flex
  
  .headers-joint
    display: none
  
@media (max-width: $mobile-break)
  .media-excerpt-blog
    flex: 1 1 50%
  
  .media-thumbnail-blog
    flex: 1 1 50%
    img
      width: 50%
      display: block 
      margin: auto

