---
layout: default
---
<article class="page">

  <header class="page-header container">
	<div class="row">
		<div class="column column-66">
			<h1 class="page-title">{{ page.title | escape }}</h1>
      
      <div class="page-info">
        {% if page.edoz %} <div class="info-line"><label>VVZ:</label><a href="{{ page.edoz }}" target="_blank">Open in Course Catalogue</a></div>  {% endif %}
        {% if page.assistants %} <div class="info-line"><label>Assistants:</label><div class="info-content">{% include get-linked-persons.html persons=page.assistants %}</div></div>  {% endif %}
        {% if page.semester %} <div class="info-line"><label>Semester:</label>{{ page.semester }}</div>  {% endif %}
        {% if page.number %} <div class="info-line"><label>Number:</label>{{ page.number }}</div>  {% endif %}
		{% if page.lecturer %} <div class="info-line"><label>Lecturer:</label>{% include get-linked-persons.html persons=page.lecturer %}</div>  {% endif %}
		{% if page.head-ta %}
		<div class="info-line">
			<label>Head TA:</label>
			<div class="info-content">{% include get-linked-persons.html
			persons=page.head-ta %}
				{% if page.head-ta-details %}
				<span>({{ page.head-ta-details }})</span>
				{% endif %}
			</div>
		</div> 
		{% endif %}
		{% if page.ta %} <div class="info-line"><label>TA:</label><div class="info-content">{% include get-linked-persons.html persons=page.ta %}</div></div>  {% endif %}
        {% if page.session-time-place %} <div class="info-line"><label>Session:</label>{% include process-rooms.html content=page.session-time-place %}</div>  {% endif %}
        {% if page.lecture-time-place %} <div class="info-line"><label>Lecture:</label>{% include process-rooms.html content=page.lecture-time-place %}</div>  {% endif %}
        {% if page.exercise-time-place %} <div class="info-line"><label>Exercise:</label>{% include process-rooms.html content=page.exercise-time-place %}</div>  {% endif %}
        {% if page.credits %} <div class="info-line"><label>Credits:</label>{{ page.credits }}</div>  {% endif %}
        <hr>
      </div>

		</div>

    <div class="column column-33 ">
      <div class="page-img">
        {% if page.image %} <img src="{{ page.image | relative_url}}"/> {% endif %}
      </div>
    </div>
	</div>
  </header>

  <div class="page-content">
    <div class="row">
      <div class="column column-66">
        {% include process-rooms.html content=content %}
      </div>
    </div>
  </div>


</article>
