---
layout: default
---


<article class="landing">


  <header class="landing-header ">
    <!---<div class="landing-banner" style="background:url('{{ site.baseurl }}/assets/images/group-2018-12-final.jpg') 0 200px no-repeat"></div>-->
    <div class="landing-header-content container">
      <div class="row">
        <div class="column column-50 ">
          <!-- <h1 class="landing-title">{{ site.title | escape }}</h1> -->
			<img src="assets/images/group-2018-smaller.png">
        </div>
        <div class="column column-50">
          <div class="landing-about">
		  The Secure, Reliable, and Intelligent Systems Lab (SRI) is a research
		  group in the <a href="https://www.inf.ethz.ch/"
		  target="_blank">Department of Computer Science</a> at ETH Zurich and
		  part of the <a href="http://ice.ethz.ch/" target="_blank">ETH ICE
		  center</a>. We work at the broad intersection of machine learning and
		  formal reasoning with applications to safe artificial intelligence,
		  probabilistic and quantum programming, AI-driven coding, security and
		  others. Our work led to three ETH spin-offs: <a
		  href="http://deepcode.ai/" target="_blank">DeepCode.ai</a>, <a
		  href="https://chainsecurity.com" target="_blank">ChainSecurity</a>,
		  and <a href="https://latticeflow.ai/" target="_blank">LatticeFlow</a>.
		  Please see <a href="{{ "/research" | relative_url }}">Research</a> and
		  <a href="/publications" target="_blank">Publications</a> to learn
		  more.
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="landing-content container">
    <div class="row">
      <div class="column">
        <h2>News</h2>
          <div class="grid">
            {% assign sorted_media = site.newsposts | where: "categories","media" | sort:"date" | reverse %}
            {%- for media in sorted_media limit: 8 %}
            <div class="media-item">
              <div class="media-image">
                <a href="{{ media.link }}">
                  <img src="{{ media.image | prepend: '/assets/media/' | relative_url}}"/>
                </a>
              </div>
              <div class="media-title"><a href="{{ media.link }}">{{ media.content}}</a></div>
            </div>
            {%- endfor -%}
          </div>
          <div style="text-align: center;"><a class="button" href="{{"/news" | relative_url }}">See all News &amp; Media</a></div>
        </div>
     </div>
  </div>
</article>

