---
layout: default
---
<article class="page">

  <header class="page-header container">
	<div class="row">
		<div class="column column-66">
			<h1 class="page-title">{{ page.title | escape }}</h1>
      <h3 class="page-subtitle">{% include get-linked-persons.html persons=page.authors %} </h3>

      {{ page.venue }} {{ page.year }} <br />
	  {% if page.authors contains "*" %}
		<br/>
		<div class="page-subtitle">* Equal contribution</div>
	  {% endif %}
	  {% if page.authors contains "†" %}
		<br/>
		<div class="page-subtitle">† Co-leadership</div>
	  {% endif %}

    {% if page.awards %}
    <br/>
    <span><img style="height: 18px; width: 18px;" src="/assets/images/award.png" title="CC BY 4.0 by @fontawesome - https://fontawesome.com"></span> <font color="#d74141">{{ page.awards }}</font>
    <br/>      
    {% endif %}


    {% assign pub-blogpost = page.blogpost %}
    {% assign pub-poster = page.poster %}
    {% assign pub-slides = page.slides %}
    {% assign pub-talk = page.talk %}
    {% assign pub-paper = page.paper %}
    {% assign pub-code = page.code %}
    {% assign pub-download = page.download %}
    {% assign pub-website = page.website %}
    <div class="card-links" style="margin-top: 30px; margin-bottom: 30px; margin-left: -10px">
      {% include publication-links.html
        blogpost=pub-blogpost 
        poster=pub-poster
        slides=pub-slides
        talk=pub-talk
        paper=pub-paper
        code=pub-code
        download=pub-download
        website=pub-website
      %}
    </div>
    
		</div>

    <div class="column column-33 ">
      <div class="page-img full-width">
        {% if page.image %}
        <a href="{{ page.image | relative_url}}"> <img src="{{ page.image | relative_url}}"/></a> {% endif %}
      </div>
    </div>

	</div>
  </header>

  <div class="page-content">
    <div class="row">
      <div class="column column-66">
            {{ content }}


    <hr />
    {% if page.projects %}
      <div class="extras">
        <label>Research Projects</label>
        {% include get-project.html ref=page.projects output="plain" %}
      </div>
    {% endif %}

    {% if page.bibtex %} <div class="extras"><label>Bibtex</label>{{ page.bibtex }}</div>  {% endif %}

      </div>
    </div>
  </div>


</article>
